* { 
  color:#fff; 
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color:#ce3635;
  text-align: center;
  color:#fff;
  position: relative; 
  
}

#section1{
  background: #384D6A;
}




.fondo{
  background-image: url(../img/3602762.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.foto{
  width: 60%;
  height: 60%;
}

#section2{
  background: #384D6A ;
}


.inner{
  padding-top: 20px;
  width: 100%;
  
}

.header{
  text-align: center;
  color: #fdfdfb;
  padding: 1rem;
  position: relative;
  background: #38406A ;
  margin: 0 auto;
  width: 15%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 48PX;
 font-family: 'Noto Sans', sans-serif;
}

.header::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}


.container1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
  
}

.skill-box{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;  
}

.skill-box:hover > .skill-title::after, .skill-box:hover > .skill-title::before{
  width: 20%;
}

.skill-box:hover .img{
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;  
}

.skill-title::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.skill-title::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  -ms-border-radius: 0 2px 2px 0;
  -o-border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.img{
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}

.img::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;
  -webkit-border-radius: 45px 0 0 45px;
  -moz-border-radius: 45px 0 0 45px;
  -ms-border-radius: 45px 0 0 45px;
  -o-border-radius: 45px 0 0 45px;
}

.skill-title h3{
  color: #fff;
  margin-top: 0.5rem;

}

.skill-icon{
  width: 50px;
  z-index: 2;
}

@media screen and (max-width: 990px) {
  .container1{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
  
}

@media screen and (max-width: 650px) {
  .container1{
    grid-template-columns: 1fr;
  }
  
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}

.section3{
  background: #292b2c;
}



.card-img h3 {
  background: #384D6A;
  
}

.card-img p{
  background: #384D6A;
  
}


.slider-title{
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 48PX;
  font-family: 'Noto Sans', sans-serif;
  background: #38406A;
  align-items: center;
  width: 15%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

